---
import DropdownItem from '@components/react/DropdownItem';
import Link from '@components/react/Link';
---
<footer class="py-10">
  <div class="px-5">
    <DropdownItem title="Platform">
      <Link href="/about">Website builder</Link>
      <Link href="/about">Website examples</Link>
      <Link href="/about">Landing pages</Link>
      <Link href="/about">Link in bio pages</Link>
      <Link href="/about">Portfolio Website</Link>
      <Link href="/about">Integrations</Link>
    </DropdownItem>
    <DropdownItem title="Platform">
      <Link href="/about">Website builder</Link>
      <Link href="/about">Website examples</Link>
      <Link href="/about">Landing pages</Link>
      <Link href="/about">Link in bio pages</Link>
      <Link href="/about">Portfolio Website</Link>
      <Link href="/about">Integrations</Link>
    </DropdownItem>
    <DropdownItem title="Platform">
      <Link href="/about">Website builder</Link>
      <Link href="/about">Website examples</Link>
      <Link href="/about">Landing pages</Link>
      <Link href="/about">Link in bio pages</Link>
      <Link href="/about">Portfolio Website</Link>
      <Link href="/about">Integrations</Link>
    </DropdownItem>
    <DropdownItem title="Platform">
      <Link href="/about">Website builder</Link>
      <Link href="/about">Website examples</Link>
      <Link href="/about">Landing pages</Link>
      <Link href="/about">Link in bio pages</Link>
      <Link href="/about">Portfolio Website</Link>
      <Link href="/about">Integrations</Link>
    </DropdownItem>
    <DropdownItem title="Platform">
      <Link href="/about">Website builder</Link>
      <Link href="/about">Website examples</Link>
      <Link href="/about">Landing pages</Link>
      <Link href="/about">Link in bio pages</Link>
      <Link href="/about">Portfolio Website</Link>
      <Link href="/about">Integrations</Link>
    </DropdownItem>
    <DropdownItem title="Platform">
      <Link href="/about">Website builder</Link>
      <Link href="/about">Website examples</Link>
      <Link href="/about">Landing pages</Link>
      <Link href="/about">Link in bio pages</Link>
      <Link href="/about">Portfolio Website</Link>
      <Link href="/about">Integrations</Link>
    </DropdownItem>
    <DropdownItem title="Platform">
      <Link href="/about">Website builder</Link>
      <Link href="/about">Website examples</Link>
      <Link href="/about">Landing pages</Link>
      <Link href="/about">Link in bio pages</Link>
      <Link href="/about">Portfolio Website</Link>
      <Link href="/about">Integrations</Link>
    </DropdownItem>
  </div>
</footer>