---
interface Props {
  class?: string;
  href: string;
}
const { class: className, href } = Astro.props;
---

<a
  class={`link-footer text-base xl:text-lg text-podia-description hover:text-podia-primary ${className}`}
  href={href}
>
  <slot />
</a>

<style>
  .link-footer {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 1px;
  }
</style>
