---
interface Props {
  href: string;
  class?: string;
}
const { class: className, href } = Astro.props;
---
<div class="flex">
  <p>
    <a
      href={href}
      class={`text-base lg:text-lg font-semibold my-4 py-3 rounded-full w-full block ${className}`}
    >
      <slot />
    </a>
  </p>
</div>