---
import Button from '@components/react/Button.tsx';
---
<div class="text-center bg-podia-primary-dark rounded-lg px-5 py-5 flex flex-col justify-center items-center">
  <h2 class="text-white font-zen-antique text-2xl mb-2">
    Get your free Podia account
  </h2>
  <p class="text-[#d7d2e8]">
    Join the 150,000+ creators who use Podia to create websites, sell digital products, and build online communities.
  </p>
  <Button href='/signup' className='bg-podia-primary-light'>
    Sign up free
  </Button>
</div>