---
interface Props {
  src: string;
  quote: string;
  subtext: string;
}
const { src, quote, subtext } = Astro.props;
---

<div>
  <article class="mx-auto text-center">
    <figure class="mx-auto max-w-44 mb-4">
      <img class="w-full h-auto" src={src} alt="review-stars" />
    </figure>
    <p
      class="font-tiempos font-light text-xl text-pretty md:text-xl text-[#1a1715]"
    >
      {quote}
    </p>
    <p class="mt-5 text-lg text-podia-description">- {subtext}</p>
  </article>
</div>
